[submodule "Services/Gefest-Vision.CalculationService"]
	path = Services/Gefest-Vision.CalculationService
	url = https://github.com/Gefest-Vision/Gefest-Vision.CalculationService.git
[submodule "Services/Gefest-Vision.Monitor"]
	path = Services/Gefest-Vision.Monitor
	url = https://github.com/Gefest-Vision/Gefest-Vision.Monitor.git
[submodule "Services/Gefest-Vision.ProjectHolder"]
	path = Services/Gefest-Vision.ProjectHolder
	url = https://github.com/Gefest-Vision/Gefest-Vision.ProjectHolder.git
[submodule "Services/Gefest-Vision.API-Gateway"]
	path = Services/Gefest-Vision.API-Gateway
	url = https://github.com/Gefest-Vision/Gefest-Vision.API-Gateway.git
[submodule "Client/Gefest-Vision.MR-XR"]
	path = Client/Gefest-Vision.MR-XR
	url = https://github.com/Gefest-Vision/Gefest-Vision.MR-XR.git
[submodule "Libraries/ParaUnity"]
	path = Libraries/ParaUnity
	url = https://github.com/Gefest-Vision/ParaUnity.git
